 @font-face {
  font-family: 'YekanBakhFaNum';
  src: url('./assets/fonts/Yekan\ Bakh\ FaNum\ 05\ Medium.woff');
}
.bady
{
  font-family:'YekanBakhFaNum' !important;
  background-color: aliceblue;
  direction: rtl;
}